{% extends "base.html" %}
{% load i18n %}
{% block title %}
{% trans 'Пройденные' %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h2>{% trans 'Пройденные' %}</h2>
    <div class="quizzes">
        {% include 'students/student/_title.html' with active='taken' %}
        <div class="quiz">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th>{% trans 'Тест' %}</th>
                        <th>{% trans 'Тема' %}</th>
                        <th>{% trans 'Оценка' %}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for taken_quiz in taken_quizzes %}
                        <tr>
                            <td>{{ taken_quiz.quiz.name }}</td>
                            <td>{{ taken_quiz.quiz.get_html_badge }}</td>
                            <td>{{ taken_quiz.score }} %</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3">{% trans 'Нет завершенных тестов' %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
 {% endblock %}
